body
{
    text-align: center;
    background-color: rgb(238, 207, 207);
}

footer 
{
    position: fixed;
    margin: 0;
    padding-top: 16px;
    height: 50px;
    width: 100%;
    bottom: 0;
    background-color: darkcyan;
}

h3 {
    font-family: 'Archivo Black';
    text-transform: uppercase;
    color: rgb(236, 224, 208);
    font-size: 1.5em;
}

h2 a:hover 
{
    color: darkcyan;
}

header
{
    align-items: center;
    justify-content: center;
}

#pageTitle
{
    position: relative;
    top: 21%;
    z-index: 1;
    font-family: 'Archivo Black';
    font-size: 2em;
    color: rgb(53, 43, 29);
}

.images
{
    width: 300px;
    position: sticky;
    z-index: 0;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 5px 5px gray;
    background-color: coral
}


h2 a
{
    color: black;
    text-decoration: none;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.5em;
    color:rgb(53, 43, 29);
}

h4
{
    font-family: 'Inter';
    padding: 5px;
    text-decoration: underline;
}

li
{
    font-family: 'Nanum Myeongjo', serif;
}

.businessInfo
{
    margin: auto;
    margin-top: 30px;
    padding: 5px;
    width: 13%;
    border-radius: 30px;
    box-shadow: 0px 5px 3px gray;
    background-color: wheat;
}

.image_6 img
{
    width: 260px;
    height: 205px;
    margin: 10px;
    margin-top: 70px;
    display: inline-block;  
}